* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: 0px;
}

html {
    height:100%
}

body {
    height: 100%;
    background: black;
    color: black;
}

.header {
    /*height: 49px;
    /*position: sticky;
    top: 0px*/
    /*width: 100%;*/
    height: 50px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar {
    padding-right: 35px;
}

.menu-option-horz {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 35px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.menu-option-vert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

.menu-option-horz.active,
.menu-option-horz:hover,
.menu-option-vert.active,
.menu-option-vert:hover {
    background: linear-gradient(45deg, violet, rgb(93, 184, 249));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.panel {
    display: flex;
    height:calc(100% - 50px);
    background: var(--c);
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.content {
    height: 100%;
    background: var(--c);
    padding-top: max(20px, min(7%, 30px));
    padding-bottom: max(20px, min(7%, 30px));
    padding-left: max(25px, min(5%, 70px));
    padding-right: max(20px, min(5%, 50px));
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    justify-content: start;
}


.giant-text {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 700;
    color: var(--c);
    font-size: 42px;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
    animation-delay: 0.2s;
}

.big-text {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 700;
    color: var(--c);
    font-size: 32px;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
    animation-delay: 0.2s;
}

.middle-text {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 700;
    color: var(--c);
    font-size: 22px;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: calc(0.4s + calc(0.1s * var(--d)));
}

.small-text {
    font-family: Arial, Helvetica, sans-serif;
    /*margin-top: 2%;
    margin-bottom: 2%;*/
    padding-right: 0;
    font-weight: 100;
    color: var(--c);
    font-size: 18px;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: calc(0.4s + calc(0.1s * var(--d)));
}

.divider{
    flex-grow:1;
    height: 1px;
    background-color: black;
    margin-left:20px;
  }

.paper {
    height: 120px;
    max-width: 100%;
    display: flex;
    justify-items: start;
    align-items: center;
    color: black;
    margin-top:5%;
}

it {
    font-style: italic;
}

mjx-container[jax="CHTML"][display="true"] {
    display: block;
    text-align: center;
    margin: 1em 0;
    overflow-x:scroll;
    overflow-y: hidden;
    position: relative;
}

.home-sci {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: min(30px, 10%);
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: auto;
    padding-right: auto;
    justify-content: space-evenly;
    background: black;
    align-items: center;
}

.home-sci a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: linear-gradient(violet, rgb(93, 184, 249));
    text-decoration: none;
    color: white;
    border-radius: 50%;
    font-size: 27px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.3s * var(--j));
}

.home-sci a::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    border-radius: 50%;
    transform: scale(0.88);
    z-index: -1;
    transition: 0.5s ease;
}

.text-gradient {
    background: linear-gradient(45deg, violet, rgb(93, 184, 249));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.focused {
    background: linear-gradient(45deg, violet, rgb(93, 184, 249));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (hover: hover) {
    .focusable:hover {
        background: linear-gradient(45deg, violet, rgb(93, 184, 249));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.home-sci a:hover::after {
    transform: scale(0);
}

.side-panel {
    background: white;
}

.paper-icon {
    height:100%;
    background:black;
}

.categories {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.subcategories {
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0px;
}

.subcategories.visible {
    max-height: auto;
}

.menu-icon {
    width:150px;
    margin-left: auto;
    margin-right: 0;
    display: none;
    text-align: right;
    width:50px;
    align-content: right;
    vertical-align: middle;
    background: transparent;
}

ul.menu-dropdown li {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 13%;
    text-align: right;
}

ul.menu-dropdown {
    width:100%;
    background: transparent;
    position: absolute;
    color: white;
    margin-top: 6px;
    margin-right: 0;
    z-index: 200;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0px;
}

ul.menu-dropdown.visible {
    max-height: auto;
}

header menu {
    max-height: 100px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
}


@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


@media (
    max-width: 700px
)
{
    .side-panel {display: none;}
    /*.content {height: calc(100% - 50px)}*/
    .navbar {display: none;}
    .menu-icon {display: block;}
    .giant-text {font-size: 28px;}
    .big-text {font-size: 20px;}
    .middle-text {font-size: 16px;}
    .small-text {font-size: 14px;}
    .home-sci {justify-content: space-between;
        margin-top: 15%;
        margin-bottom: 15%;}
    .paper {max-width: 100%;
        margin-top:1%;}
    .paper-icon {height: 85%;}
}
