:root {
    --font-familiy: Arial, Helvetica, sans-serif;
}

.main {
    width: 95%;
    max-width: calc(10*var(--card-width))px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    font-size: var(--font-size);
    font-family: var(--font-familiy);
    opacity: 0;
    transition: filter var(--transition-time) ease-in, opacity var(--transition-time) ease-in;
}

.hand-container-vert {
    display: inline-flex;
    font-size: var(--font-size);
    flex-direction: row;
    margin-top: 0%;
    margin-bottom: 10px;
    width: calc(var(--card-width) + var(--font-size) + 4*var(--border-width));
    background-color: transparent
}

.hand-vert-named {
    height: 100%;
    min-height: calc(2*var(--card-height));
    max-height: calc(10*var(--card-height));
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    flex-direction: column;
    width: calc(var(--card-width) + 2*var(--border-width));
}

.hand-vert {
    height: 100%;
    display: flex;
    flex-grow: 1;
    width: calc(var(--card-width) + 2*var(--border-width));
    position: relative;
    border-radius: calc(var(--card-height)/18);
    border: var(--border-width) solid black;
    background-color: #eee;
}


.parameter-text {
    height: auto;
    width: 100%;
    position: relative;
    background-color: white;
    font-weight: bold;
    margin: 2px;
    font-family: var(--font-familiy);
}

.counter {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: calc(2*var(--info-font-size));
    font-weight: bold;
  }

.trick-strip {
    height: calc(var(--card-height) + 2*var(--border-width));
    width: 100%;
    margin-top: var(--border-width);
    margin-bottom: var(--border-width);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trick-card-container {
    height: calc(var(--card-height) + 2*var(--border-width));
    width: calc(var(--card-width) + 2*var(--border-width));
    margin-left: var(--border-width);
    margin-right: var(--border-width);
    border-radius: calc(var(--card-height)/18);
    border: var(--border-width) solid black;
    position: relative;
    background-color: transparent;
};

.flush {
    pointer-events: none;
    position: relative;
    width: 0;
    height: 0;
    z-index: 0;
}

.hand-info-vert-east {
    display: none;
    background-color: white;
    user-select: none;
    text-orientation: upright;
    /*writing-mode: vertical-rl;*/
    text-align: start;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.hand-info-vert-west {
    display: none;
    background-color: white;
    user-select: none;
    text-orientation: upright;
    /*writing-mode: vertical-rl;*/
    text-align: end;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.hand-info-horz-south {
    display: none;
    flex-direction: row;
    margin-top: 0px;
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    user-select: none;
}


.hand-container-horz {
    box-sizing: border-box;
    font-size: var(--font-size);
    display: inline-flex;
    flex-direction: column;
    width: 90%;
    padding-left: 1%;
    padding-right: 1%;
    visibility: visible;
    justify-content: center;
    align-items: center;
    background-color: transparent
}


.hand-horz {
    height: calc(var(--card-height) + 2*var(--border-width));
    width: min(100%, calc(7*var(--card-width)));
    position: relative;
    visibility: visible;
    background-color: #eee;
    border: var(--border-width) solid black;
    border-radius: calc(var(--card-height)/18);
}



.background-focused {
    background: linear-gradient(45deg, rgba(238, 130, 238, 0.3), rgba(93, 184, 249, 0.3));
}

.text-focused {
    background: linear-gradient(45deg, violet, rgb(93, 184, 249));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hand-info-horz {
    margin-top: 5px;
    height: auto;
    z-index: 100;
    text-align: center;
    background-color: white;
    user-select: none;
    overflow: visible;
    font-weight: bold;
}

.num-tricks-curr {
    font-size: var(--info-font-size);
    background-color: white;
    color: black;
    font-weight: 500;
    padding: var(--info-font-size-pad);
}

.num-tricks-proj {
    font-size: var(--info-font-size);
    background-color: black;
    color: white;
    font-weight: 500;
    padding: var(--info-font-size-pad);
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.num-tricks-proj.blink {
    background-color: white;
    color: black;
    transition: none;
}

.card-container-desktop {
    padding: 5%;
    width: 100%; 
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: var(--card-height) var(--card-height);
    grid-auto-flow: dense;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    background-color: white;
}

.card-container-mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(var(--card-width) + 2*var(--border-width) + 2*var(--card-border)); 
    height: 100%;
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    column-gap: calc(var(--card-width) / 3);
    align-items: center;
    background-color: white;
}

.suit-container-horz {
    height: calc(100% + 2*var(--border-width));
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: var(--border-width) solid black;
    border-radius: calc(var(--card-height)/18);
    background-color: #eee;
}

.suit-container-vert {
    visibility: hidden;
    flex-shrink: 0;
    margin-right: var(--suit-container-margin);
    width: calc(var(--card-width) + 2*var(--border-width));
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: var(--border-width) solid black;
    border-radius: calc(var(--card-height)/18);
    transition: transform var(--transition-time) ease-in-out;
    background-color: #eee;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    cursor: pointer;
    position: absolute;
    user-select: none;
    opacity: 1;
    padding: 1px;
    transition: transform var(--transition-time) ease-in-out, opacity var(--transition-time);
    border: var(--card-border) solid black;
    border-radius: calc(var(--card-height)/20);
}

.card img {
    max-width: 101%;
    max-height: 101%;
    object-fit: contain;
    border-radius: inherit;
}

.suit-img {
    height: 1rem;
    width: 1.1rem;
}

.inverted-text {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-size: var(--font-size);
    font-family: var(--font-familiy);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--font-size) / 6);
    border: var(--card-border) solid black;
    border-radius: calc(var(--card-height)/20);
}

.results-grid {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: calc(var(--font-size) / 2);
    margin: calc(var(--font-size) / 4);
    margin-bottom: calc(var(--font-size) / 2);
    text-align: center;
}

.results-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
}